<!-- team standings page -->

<!-- header -->
<section>
  <div class="header-img text-white">
    <div class="header-overlay v-center">
      <div class="container px-4 text-center">
        <h1 class="fw-bolder">2022 Constructor Standings</h1>
        <p class="lead subtitle-ts">
          Table showing the positions of the teams participating in the league,
          sorted by points
        </p>
      </div>
    </div>
  </div>
</section>
<!-- header end -->

<!-- body -->
<section class="body-bg container-fluid top-space bottom-space">
  <div class="container bg-light-gray box-adjust top-space bottom-space">
    <!-- ferrari -->
    <div class="row">
      <div class="col-xs-6 w-50">
        <div class="ferrari-left ferrari-top">
          <h1 class="text-adjust v-center height-adjust-v2">1ST</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="ferrari-right ferrari-top text-right">
          <h1 class="text-adjust v-center-v2 height-adjust-v2">124 PTS</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="ferrari-left">
          <h1 class="text-adjust v-center height-adjust">
            French Fraulien Connection
          </h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="ferrari-right text-right">
          <img
            src="https://drive.google.com/uc?id=1V_ZR6Zpy7alZOpdiWuuDUlITCCI3lgnt"
            alt="Ferrari Logo"
            class="img-adjust height-adjust"
          />
        </div>
      </div>
      <div class="col-xs-12">
        <div class="ferrari-left ferrari-right text-center">
          <h1 class="text-adjust v-center-v2 height-adjust-v2">P.Barreiro</h1>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="ferrari-left ferrari-right ferrari-bottom text-center">
          <img
            src="https://drive.google.com/uc?id=1xdpOKBoWXN7J3xX9QnHXAosbAZefRa27"
            alt="Ferrari Car"
            class="img-adjust-v2 height-adjust-v3"
          />
        </div>
      </div>
    </div>
    <!-- mercedes -->
    <div class="row top-space">
      <div class="col-xs-6 w-50">
        <div class="mercedes-left mercedes-top">
          <h1 class="text-adjust v-center height-adjust-v2">2ND</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="mercedes-right mercedes-top text-right">
          <h1 class="text-adjust v-center-v2 height-adjust-v2">555 PTS</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="mercedes-left">
          <h1 class="text-adjust v-center height-adjust">Dutch Rebujito</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="mercedes-right text-right">
          <img
            src="https://drive.google.com/uc?id=1r6ufWrDJMcWSE-Q3CbkLNvdSe_843cKz"
            alt="Mercedes Logo"
            class="img-adjust height-adjust"
          />
        </div>
      </div>
      <div class="col-xs-12">
        <div class="mercedes-left mercedes-right text-center">
          <h1 class="text-adjust v-center-v2 height-adjust-v2">P.Andrade</h1>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="mercedes-left mercedes-right mercedes-bottom text-center">
          <img
            src="https://drive.google.com/uc?id=1j8dDYWvOtpu8GVIBfbXevbUA9ffYaTX6"
            alt="Ferrari Car"
            class="img-adjust-v2 height-adjust-v3"
          />
        </div>
      </div>
    </div>
    <!-- red bull -->
    <div class="row top-space">
      <div class="col-xs-6 w-50">
        <div class="red-bull-left red-bull-top">
          <h1 class="text-adjust v-center height-adjust-v2">3RD</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="red-bull-right red-bull-top text-right">
          <h1 class="text-adjust v-center-v2 height-adjust-v2">113 PTS</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="red-bull-left">
          <h1 class="text-adjust v-center height-adjust">Fiambre Japonês</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="red-bull-right text-right">
          <img
            src="https://drive.google.com/uc?id=1vQfWmNjl9SBIr3tnEUPr6X1Xcbw9m8WI"
            alt="Red Bull Logo"
            class="img-adjust height-adjust"
          />
        </div>
      </div>
      <div class="col-xs-12">
        <div class="red-bull-left red-bull-right text-center">
          <h1 class="text-adjust v-center-v2 height-adjust-v2">R.Silva</h1>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="red-bull-left red-bull-right red-bull-bottom text-center">
          <img
            src="https://drive.google.com/uc?id=1XBWP62c4ug-ciFwmmBfQDxApLxR3MzV1"
            alt="Red Bull Car"
            class="img-adjust-v2 height-adjust-v3"
          />
        </div>
      </div>
    </div>
    <!-- aston martin -->
    <div class="row top-space">
      <div class="col-xs-6 w-50">
        <div class="aston-martin-left aston-martin-top">
          <h1 class="text-adjust v-center height-adjust-v2">4TH</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="aston-martin-right aston-martin-top text-right">
          <h1 class="text-adjust v-center-v2 height-adjust-v2">555 PTS</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="aston-martin-left">
          <h1 class="text-adjust v-center height-adjust">Smooth Avocados</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="aston-martin-right text-right">
          <img
            src="https://drive.google.com/uc?id=1RYWKGQ20ZcjSis0EUiUE7MuFg3_NHfu2"
            alt="Aston Martin Logo"
            class="img-adjust height-adjust"
          />
        </div>
      </div>
      <div class="col-xs-12">
        <div class="aston-martin-left aston-martin-right text-center">
          <h1 class="text-adjust v-center-v2 height-adjust-v2">C.Barreiro</h1>
        </div>
      </div>
      <div class="col-xs-12">
        <div
          class="
            aston-martin-left aston-martin-right aston-martin-bottom
            text-center
          "
        >
          <img
            src="https://drive.google.com/uc?id=147zxE_l73Nm3F7BtBzv_YFxdog4JZqeo"
            alt="Aston Martin Car"
            class="img-adjust-v2 height-adjust-v3"
          />
        </div>
      </div>
    </div>
    <!-- mclaren -->
    <div class="row top-space">
      <div class="col-xs-6 w-50">
        <div class="mclaren-left mclaren-top">
          <h1 class="text-adjust v-center height-adjust-v2">5TH</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="mclaren-right mclaren-top text-right">
          <h1 class="text-adjust v-center-v2 height-adjust-v2">555 PTS</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="mclaren-left">
          <h1 class="text-adjust v-center height-adjust">Scuderia Papaya</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="mclaren-right text-right">
          <img
            src="https://drive.google.com/uc?id=1XVToXINJKP-njVw9rfsh3lwqK94uHmMu"
            alt="McLaren Logo"
            class="img-adjust height-adjust"
          />
        </div>
      </div>
      <div class="col-xs-12">
        <div class="mclaren-left mclaren-right text-center">
          <h1 class="text-adjust v-center-v2 height-adjust-v2">R.Barreiro</h1>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="mclaren-left mclaren-right mclaren-bottom text-center">
          <img
            src="https://drive.google.com/uc?id=182ppW9WTwpRnl6vqigBxmZqkpZcZj7By"
            alt="McLaren Car"
            class="img-adjust-v2 height-adjust-v3"
          />
        </div>
      </div>
    </div>
    <!-- alpine -->
    <div class="row top-space">
      <div class="col-xs-6 w-50">
        <div class="alpine-left alpine-top">
          <h1 class="text-adjust v-center height-adjust-v2">6TH</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="alpine-right alpine-top text-right">
          <h1 class="text-adjust v-center-v2 height-adjust-v2">555 PTS</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="alpine-left">
          <h1 class="text-adjust v-center height-adjust">
            The Side Characters
          </h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="alpine-right text-right">
          <img
            src="https://drive.google.com/uc?id=1h_FSEiRvA9y5eETBV76bqi1lrqMW8Pga"
            alt="McLaren Logo"
            class="img-adjust height-adjust"
          />
        </div>
      </div>
      <div class="col-xs-12">
        <div class="alpine-left alpine-right text-center">
          <h1 class="text-adjust v-center-v2 height-adjust-v2">J.Barreiro</h1>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="alpine-left alpine-right alpine-bottom text-center">
          <img
            src="https://drive.google.com/uc?id=1NNxAkFJwR2XhFD1HUHD7VGJLbQpaiChT"
            alt="McLaren Car"
            class="img-adjust-v2 height-adjust-v3"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end body -->
