<!-- team standings page -->

<!-- header -->
<section>
  <div class="header-img text-white">
    <div class="header-overlay v-center">
      <div class="container px-4 text-center">
        <h1 class="fw-bolder">Standings 2022</h1>
        <p class="lead subtitle-ts">
          Table showing the positions of the teams participating in the league,
          sorted by points
        </p>
      </div>
    </div>
  </div>
</section>
<!-- header end -->

<!-- body -->
<section class="body-bg container-fluid top-space bottom-space">
  <div class="container bg-light-gray box-adjust top-space bottom-space">
    <!-- ferrari -->
    <div class="row">
      <div class="col-xs-6 w-50">
        <div class="ferrari-left ferrari-top">
          <h1 class="text-adjust v-center height-adjust-v2">1ST</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="ferrari-right ferrari-top text-right">
          <h1 class="text-adjust v-center-v2 height-adjust-v2">124 PTS</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="ferrari-left">
          <h1 class="text-adjust v-center height-adjust">
            FFC - French Fraulien Connection
          </h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="ferrari-right text-right">
          <img
            src="https://drive.google.com/uc?id=1V_ZR6Zpy7alZOpdiWuuDUlITCCI3lgnt"
            alt="Ferrari Logo"
            class="img-adjust height-adjust"
          />
        </div>
      </div>
      <div class="col-xs-12">
        <div class="ferrari-left ferrari-right text-center">
          <h1 class="text-adjust v-center-v2 height-adjust-v2">P.Barreiro</h1>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="ferrari-left ferrari-right ferrari-bottom text-center">
          <img
            src="https://drive.google.com/uc?id=1xdpOKBoWXN7J3xX9QnHXAosbAZefRa27"
            alt="Ferrari Car"
            class="img-adjust-v2 height-adjust-v2"
          />
        </div>
      </div>
    </div>
    <!-- red bull -->
    <div class="row top-space">
      <div class="col-xs-6 w-50">
        <div class="red-bull-left red-bull-top">
          <h1 class="text-adjust v-center">2ND</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="red-bull-right red-bull-top text-right">
          <h1 class="text-adjust v-center-v2">113 PTS</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="red-bull-left">
          <h1 class="text-adjust v-center">Fiambre Japonês</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="red-bull-right text-right">
          <img
            src="https://drive.google.com/uc?id=1vQfWmNjl9SBIr3tnEUPr6X1Xcbw9m8WI"
            alt="Red Bull Logo"
            class="img-adjust"
          />
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="red-bull-left">
          <h1 class="text-adjust v-center">Team Chief :</h1>
        </div>
      </div>
      <div class="col-xs-6 w-50">
        <div class="red-bull-right text-right">
          <h1 class="text-adjust v-center-v2">R.Silva</h1>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="red-bull-left red-bull-right red-bull-bottom text-center">
          <img
            src="https://drive.google.com/uc?id=1XBWP62c4ug-ciFwmmBfQDxApLxR3MzV1"
            alt="Red Bull Car"
            class="img-adjust-v2"
          />
        </div>
      </div>
    </div>
    <!--
    <div class="col-xs-12">
      <h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et
        pharetra nibh. Nunc placerat mattis turpis id consequat. In in felis
        efficitur, ultrices enim quis, convallis velit. Proin molestie eros et
        congue gravida. Sed erat ligula, tempor non purus tincidunt, aliquet
        consectetur nisi. Vestibulum tristique, turpis ut dignissim congue,
        neque lectus ultricies metus, a lobortis augue turpis eget lectus. Nulla
        rutrum hendrerit lectus, laoreet venenatis nunc. Praesent mattis, lectus
        vel pellentesque efficitur, magna felis suscipit lorem, a interdum nulla
        turpis ut urna. Aenean mattis est sit amet diam lobortis, sit amet
        suscipit ipsum facilisis.
      </h1>
    </div>
    -->
    <!--
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12 header-bg v-down-h-center">
          <h1 class="text-center text-white">Team Standings 2022</h1>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 mg-top-20">
      <h1 class="text-white">Team Standings 2022</h1>
      <h1 class="text-center text-white">Team Standings 2022</h1>
      <h1 class="text-center text-white">Team Standings 2022</h1>
    </div> 
    -->
  </div>
</section>
<!-- end body -->
