<!-- standings -->
<div class="all-page">
  <!-- Header -->
  <div class="banner-css text-white">
    <div class="banner-overlay v-center">
      <div class="container px-4 text-center">
        <h1 class="fw-bolder">Standings 2022</h1>
        <p class="lead subtitle-ts">
          Table showing the positions of the teams participating in the league,
          sorted by points
        </p>
      </div>
    </div>
  </div>
  <!-- Second Header -->
  <section id="section-0">
    <div class="container-fluid text-center mg-bottom-20">
      <!-- race update line -->
      <div class="row v-center margin-zero">
        <div class="col-lg-12 text-center title-xtras-v0">
          <h2>Table updated at the race: Bahrain</h2>
        </div>
      </div>
    </div>
  </section>
  <!-- Section 1 -->
  <section id="section-1">
    <div class="container">
      <!-- title -->
      <div class="row v-center">
        <div class="col-lg-12 text-center title-xtras">
          <h2>Constructors</h2>
        </div>
      </div>
      <!-- team 1 -->
      <div class="bg-mclaren">
        <div class="row v-center overlay-mclaren text-fix v-padding">
          <div class="col-lg-2 text-center v-padding">Scuderia Papaya</div>
          <div class="col-lg-2 text-center">
            <img
              src="https://drive.google.com/uc?id=1a4qiTw9dGafE2tE83lFW3v1lhh62bfGN"
              alt="driver-1"
            />
          </div>
          <div class="col-lg-2 text-center">
            <img
              src="https://drive.google.com/uc?id=1zbilr6jCQgzMZ_D4qCz2OYzY7_9KPT0_"
              alt="driver-2"
            />
          </div>
          <div class="col-lg-2 text-center v-padding">R.Barreiro</div>
          <div class="col-lg-2 text-center v-padding">▲ 2 | 1 POS</div>
          <div class="col-lg-2 text-center v-padding">▲ 29 | 29 PTS</div>
        </div>
      </div>
      <!-- mid line -->
      <div class="row v-center">
        <div class="col-lg-12 text-center title-xtras-v3">
          <h2>Constructors</h2>
        </div>
      </div>
      <!-- team 2 -->
      <div class="bg-redbull">
        <div class="row v-center overlay-redbull text-fix v-padding">
          <div class="col-lg-2 text-center v-padding">Fiambre Japonês</div>
          <div class="col-lg-2 text-center">
            <img
              src="https://drive.google.com/uc?id=16ynqdyt-ZcNGk2Sr0PrOxN3jcxrLGNOX"
              alt="driver-1"
            />
          </div>
          <div class="col-lg-2 text-center">
            <img
              src="https://drive.google.com/uc?id=1Nj9d7r04st16_PUi8KkjgIfGtuHP8btq"
              alt="driver-2"
            />
          </div>
          <div class="col-lg-2 text-center v-padding">R.Silva</div>
          <div class="col-lg-2 text-center v-padding">▼ 1 | 2 POS</div>
          <div class="col-lg-2 text-center v-padding">▲ 19 | 19 PTS</div>
        </div>
      </div>
      <!-- mid line -->
      <div class="row v-center">
        <div class="col-lg-12 text-center title-xtras-v3">
          <h2>Constructors</h2>
        </div>
      </div>
      <!-- team 3 -->
      <div class="bg-aston-martin">
        <div class="row v-center overlay-aston-martin text-fix v-padding">
          <div class="col-lg-2 text-center v-padding">
            Smooth Avocados aka RedBull Academy
          </div>
          <div class="col-lg-2 text-center">
            <img
              src="https://drive.google.com/uc?id=1scDtdpt_SG5vur_8qv5Uoham-y9Cl8D8"
              alt="driver-1"
            />
          </div>
          <div class="col-lg-2 text-center">
            <img
              src="https://drive.google.com/uc?id=1GL4hug3L-ozJ5CqzA01UixzYki7k56Eg"
              alt="driver-2"
            />
          </div>
          <div class="col-lg-2 text-center v-padding">C.Barreiro</div>
          <div class="col-lg-2 text-center v-padding">▲ 1 | 3 POS</div>
          <div class="col-lg-2 text-center v-padding">▲ 18 | 18 PTS</div>
        </div>
      </div>
      <!-- mid line -->
      <div class="row v-center">
        <div class="col-lg-12 text-center title-xtras-v3">
          <h2>Constructors</h2>
        </div>
      </div>
      <!-- team 4 -->
      <div class="bg-alpine">
        <div class="row v-center overlay-alpine text-fix v-padding">
          <div class="col-lg-2 text-center v-padding">The Side Characters</div>
          <div class="col-lg-2 text-center">
            <img
              src="https://drive.google.com/uc?id=1ccvzRIal-djIWyIXq6p-n2BCjgyIRRNb"
              alt="driver-1"
            />
          </div>
          <div class="col-lg-2 text-center">
            <img
              src="https://drive.google.com/uc?id=19m5bn7x5St4ZG3x-70ZWU-pwxnURxkQ7"
              alt="driver-2"
            />
          </div>
          <div class="col-lg-2 text-center v-padding">J.Barreiro</div>
          <div class="col-lg-2 text-center v-padding">▲ 1 | 4 POS</div>
          <div class="col-lg-2 text-center v-padding">▲ 12 | 12 PTS</div>
        </div>
      </div>
      <!-- mid line -->
      <div class="row v-center">
        <div class="col-lg-12 text-center title-xtras-v3">
          <h2>Constructors</h2>
        </div>
      </div>
      <!-- team 5 -->
      <div class="bg-mercedes">
        <div class="row v-center overlay-mercedes text-fix v-padding">
          <div class="col-lg-2 text-center v-padding">Dutch Rebujito</div>
          <div class="col-lg-2 text-center">
            <img
              src="https://drive.google.com/uc?id=1uXOBWC2DQ3ilAGRYXeSZyLciYgvjZhMx"
              alt="driver-1"
            />
          </div>
          <div class="col-lg-2 text-center">
            <img
              src="https://drive.google.com/uc?id=170KdwzOUwEOqeNV5mXfjr80P-iLZVwoW"
              alt="driver-2"
            />
          </div>
          <div class="col-lg-2 text-center v-padding">P.Andrade</div>
          <div class="col-lg-2 text-center v-padding">▼ 3 | 5 POS</div>
          <div class="col-lg-2 text-center v-padding">▲ 2 | 2 PTS</div>
        </div>
      </div>
      <!-- mid line -->
      <div class="row v-center">
        <div class="col-lg-12 text-center title-xtras-v3">
          <h2>Constructors</h2>
        </div>
      </div>
      <!-- team 6 -->
      <div class="bg-ferrari">
        <div class="row v-center overlay-ferrari text-fix">
          <div class="col-lg-2 text-center v-padding">
            FFC - French Fraulien Connection
          </div>
          <div class="col-lg-2 text-center">
            <img
              src="https://drive.google.com/uc?id=1jl7FVKl0sIU_jrktCoZ95AQsrt8N5enr"
              alt="driver-1"
            />
          </div>
          <div class="col-lg-2 text-center">
            <img
              src="https://drive.google.com/uc?id=1lofZrQTSNrkwQ74slmhrAA8YbNsv-Rbm"
              alt="driver-2"
            />
          </div>
          <div class="col-lg-2 text-center">
            <img
              src="https://drive.google.com/uc?id=1Yu-oLWz2TBVlo4Fe7_icjlO73t7OL2Cq"
              alt="driver-2"
            />
          </div>
          <div class="col-lg-1and2 text-center v-padding">P.Barreiro</div>
          <div class="col-lg-1and2 text-center v-padding">= | 6 POS</div>
          <div class="col-lg-1and2 text-center v-padding">= | 0 PTS</div>
        </div>
      </div>
      <!-- last line -->
      <div class="row v-center">
        <div class="col-lg-12 text-center title-xtras-v2">
          <h2>Constructors</h2>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <section id="section-2">
    <div class="container-fluid text-center mg-top-20">
      <!-- race update line -->
      <div class="row v-center margin-zero">
        <div class="col-lg-12 text-center title-xtras-v4">
          <h2>Table updated at the race: Bahrain</h2>
        </div>
      </div>
    </div>
  </section>
</div>