<!-- standings -->
<div class="all-page">
  <!-- Header-->
  <div class="banner-css text-white">
    <div class="banner-overlay v-center">
      <div class="container px-4 text-center">
        <h1 class="fw-bolder">Team Standings 2022</h1>
        <p class="lead subtitle-ts">
          Table showing the positions of the teams participating in the league,
          sorted by points
        </p>
      </div>
    </div>
  </div>
  <!-- Section 1 -->
  <section id="section-1">
    <div class="container px-4 py-4">
      <div class="row gx-4 justify-content-center">
        <div class="col-lg-10">
          <h2 class="text-center">Constructors</h2>
          <div class="bg-mclaren margin-zero padding-zero">
            <div
              class="
                row
                text-center
                v-center
                overlay-mclaren
                text-fix
                margin-zero
                padding-zero
              "
            >
              <div class="col-lg-2">Scuderia Papaya</div>
              <div class="col-lg-2">
                <img
                  src="https://drive.google.com/uc?id=1a4qiTw9dGafE2tE83lFW3v1lhh62bfGN"
                  alt="driver-1"
                />
              </div>
              <div class="col-lg-2">
                <img
                  src="https://drive.google.com/uc?id=1zbilr6jCQgzMZ_D4qCz2OYzY7_9KPT0_"
                  alt="driver-2"
                />
              </div>
              <div class="col-lg-2">R.Barreiro</div>
              <div class="col-lg-2">▲ 2 | 1 POS</div>
              <div class="col-lg-2">▲ 29 | 29 PTS</div>
            </div>
          </div>
          <div class="bg-mclaren margin-zero padding-zero">
            <div
              class="
                row
                text-center
                v-center
                overlay-mclaren
                text-fix
                margin-zero
                padding-zero
              "
            >
              <div class="col-lg-2">Scuderia Papaya</div>
              <div class="col-lg-2">
                <img
                  src="https://drive.google.com/uc?id=1a4qiTw9dGafE2tE83lFW3v1lhh62bfGN"
                  alt="driver-1"
                />
              </div>
              <div class="col-lg-2">
                <img
                  src="https://drive.google.com/uc?id=1zbilr6jCQgzMZ_D4qCz2OYzY7_9KPT0_"
                  alt="driver-2"
                />
              </div>
              <div class="col-lg-2">R.Barreiro</div>
              <div class="col-lg-2">▲ 2 | 1 POS</div>
              <div class="col-lg-2">▲ 29 | 29 PTS</div>
            </div>
          </div>
          <div class="row text-center v-center">
            <div class="col-lg-2">Scuderia Papaya</div>
            <div class="col-lg-2">
              <img
                src="https://drive.google.com/uc?id=1a4qiTw9dGafE2tE83lFW3v1lhh62bfGN"
                alt="driver-1"
              />
            </div>
            <div class="col-lg-2">
              <img
                src="https://drive.google.com/uc?id=1a4qiTw9dGafE2tE83lFW3v1lhh62bfGN"
                alt="driver-1"
              />
            </div>
            <div class="col-lg-2">R.Barreiro</div>
            <div class="col-lg-2">▲ 2 | 1 POS</div>
            <div class="col-lg-2">▲ 29 | 29 PTS</div>
          </div>
          <div class="row text-center v-center">
            <div class="col-lg-2">Scuderia Papaya</div>
            <div class="col-lg-2">
              <img
                src="https://drive.google.com/uc?id=1a4qiTw9dGafE2tE83lFW3v1lhh62bfGN"
                alt="driver-1"
              />
            </div>
            <div class="col-lg-2">
              <img
                src="https://drive.google.com/uc?id=1a4qiTw9dGafE2tE83lFW3v1lhh62bfGN"
                alt="driver-1"
              />
            </div>
            <div class="col-lg-2">R.Barreiro</div>
            <div class="col-lg-2">▲ 2 | 1 POS</div>
            <div class="col-lg-2">▲ 29 | 29 PTS</div>
          </div>
          <div class="row text-center v-center">
            <div class="col-lg-2">Scuderia Papaya</div>
            <div class="col-lg-2">
              <img
                src="https://drive.google.com/uc?id=1a4qiTw9dGafE2tE83lFW3v1lhh62bfGN"
                alt="driver-1"
              />
            </div>
            <div class="col-lg-2">
              <img
                src="https://drive.google.com/uc?id=1a4qiTw9dGafE2tE83lFW3v1lhh62bfGN"
                alt="driver-1"
              />
            </div>
            <div class="col-lg-2">R.Barreiro</div>
            <div class="col-lg-2">▲ 2 | 1 POS</div>
            <div class="col-lg-2">▲ 29 | 29 PTS</div>
          </div>
          <div class="row text-center v-center">
            <div class="col-lg-2">Scuderia Papaya</div>
            <div class="col-lg-2">
              <img
                src="https://drive.google.com/uc?id=1a4qiTw9dGafE2tE83lFW3v1lhh62bfGN"
                alt="driver-1"
              />
            </div>
            <div class="col-lg-2">
              <img
                src="https://drive.google.com/uc?id=1a4qiTw9dGafE2tE83lFW3v1lhh62bfGN"
                alt="driver-1"
              />
            </div>
            <div class="col-lg-2">R.Barreiro</div>
            <div class="col-lg-2">▲ 2 | 1 POS</div>
            <div class="col-lg-2">▲ 29 | 29 PTS</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
