<!-- standings -->
<div class="zone-page">
<div class="container zone-box">
  <!-- title top -->
  <div class="container zone-title-top">
    <div class="row v-center">
      <div class="col-12 text-center">
        <h2>2022 Constructor Standings</h2>
      </div>
    </div>
  </div>
  <!-- title bottom -->
  <div class="container zone-title-bot">
    <div class="row v-center">
      <div class="col-1 text-center">
        <h2>POS</h2>
      </div>
      <div class="col-2 text-center">
        <h2>Team</h2>
      </div>
      <div class="col-6 text-center">
        <h2>Drivers</h2>
      </div>
      <div class="col-1 text-center">
        <h2>PTS</h2>
      </div>
      <div class="col-1 text-center">
        <h2>PTS DIF</h2>
      </div>
      <div class="col-1 text-center">
        <h2>POS DIF</h2>
      </div>
    </div>
  </div>
  <!-- team place 1 -->
  <div class="container zone-team-rb">
    <div class="row v-center">
      <div class="col-1 text-center">
        <h2>1</h2>
      </div>
      <div class="col-2 text-center">
        <h2>Scuderia Papaya</h2>
      </div>
      <div class="col-2 text-center">
        <img
          src="https://drive.google.com/uc?id=1a4qiTw9dGafE2tE83lFW3v1lhh62bfGN"
          alt="driver-1"
        />
      </div>
      <div class="col-2 text-center">
        <img
          src="https://drive.google.com/uc?id=1zbilr6jCQgzMZ_D4qCz2OYzY7_9KPT0_"
          alt="driver-2"
        />
      </div>
      <div class="col-2 text-center">
        <img
          src="https://drive.google.com/uc?id=1byzliHjI1qZ7EnQFdtqutKjr_Mk1r-4w"
          alt="logo-f1"
        />
      </div>
      <div class="col-1 text-center">
        <h2>29</h2>
      </div>
      <div class="col-1 text-center text-green">
        <h2>▲ 2</h2>
      </div>
      <div class="col-1 text-center text-green">
        <h2>▲ 29</h2>
      </div>
    </div>
  </div>
   <!-- team place 2 -->
   <div class="container zone-team-rs">
   <div class="row v-center">
     <div class="col-1 text-center">
       <h2>2</h2>
     </div>
     <div class="col-2 text-center">
       <h2>Fiambre Japonês</h2>
     </div>
     <div class="col-2 text-center">
       <img
         src="https://drive.google.com/uc?id=16ynqdyt-ZcNGk2Sr0PrOxN3jcxrLGNOX"
         alt="driver-1"
       />
     </div>
     <div class="col-2 text-center">
       <img
         src="https://drive.google.com/uc?id=1Nj9d7r04st16_PUi8KkjgIfGtuHP8btq"
         alt="driver-2"
       />
     </div>
     <div class="col-2 text-center">
       <img
         src="https://drive.google.com/uc?id=1byzliHjI1qZ7EnQFdtqutKjr_Mk1r-4w"
         alt="logo-f1"
       />
     </div>
     <div class="col-1 text-center">
       <h2>19</h2>
     </div>
     <div class="col-1 text-center text-red">
       <h2>▼ 1</h2>
     </div>
     <div class="col-1 text-center text-green">
       <h2>▲ 19</h2>
     </div>
   </div>
 </div>
</div>
