.all-page {
  width: 100%;
  height: 100%;
  background-color: grey;
}
.v-center {
  display: flex;
  align-items: center;
}
.banner-css {
  width: 100%;
  height: 600px;
  background-image: url('http://drive.google.com/uc?export=view&id=1ho5nK393LYaNc7xQ9KxvnCgijxwY4cs-');
  background-repeat: no-repeat;
  background-position: 50% 15%;
  background-size: cover;
}
