<!-- f1 logo : <img src="https://drive.google.com/uc?id=1byzliHjI1qZ7EnQFdtqutKjr_Mk1r-4w" alt="F1 logo" /> -->

<!-- all page -->
<section id="all-page">
  <div class="nopadding container-fluid all-page-bg v-center">
    <!-- header -->
    <div class="container-v2 header-zone text-white pd-v">
      <div class="row">
        <div class="col-xs-12 pd-v">
          <img
            src="https://drive.google.com/uc?id=1uJcRWvaa4i0vJeZ0ZN-7HJMi2D6TPdm7"
            alt="F1 logo"
            class="img-adjust"
          />
        </div>
        <div class="col-xs-12 pd-v">
          <h1>Site created to inform fantasy members</h1>
          <h2>
            This Formula 1 Fantasy has been around since the 2020 season
            although 2022 is the first year with this site ...
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
