<!-- driver standings -->
<div class="all-page">
  <!-- Header -->
  <div class="banner text-white">
    <div class="banner-overlay v-center">
      <div class="container px-4">
        <div class="col-6">
          <h1 class="fw-bolder">Standings 2022</h1>
          <p class="lead subtitle-ts">
            Table of the positions of the selected drivers of the league
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Header - Race update line -->
  <section id="race-update-line-1">
    <div class="container-fluid text-center mg-bottom-20 padding-zero">
      <h2 class="race-update-1 margin-zero">Table updated at the race: Never (Error)</h2>
    </div>
  </section>
  <!-- Table -->
  <!-- Charles Leclerc -->
  <section class="driver-line-cl">
    <div class="container">
      <div class="bg-charles-leclerc">
        <div class="row v-center overlay-charles-leclerc text-fix">
          <div class="col-lg-2 text-center v-padding">Scuderia Papaya</div>
          <div class="col-lg-2 text-center">
            <img
              src="https://drive.google.com/uc?id=1zbilr6jCQgzMZ_D4qCz2OYzY7_9KPT0_"
              alt="charles-leclerc"
            />
          </div>
          <div class="col-lg-2 text-center">Charles Leclerc</div>
          <div class="col-lg-2 text-center v-padding">R.Barreiro</div>
          <div class="col-lg-2 text-center v-padding">? | ? POS</div>
          <div class="col-lg-2 text-center v-padding">▲▼ ? | ? PTS</div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer - Race update line -->
  <section id="footer">
    <section id="race-update-line-2">
      <div class="container-fluid text-center mg-bottom-20 padding-zero">
        <h2 class="race-update-2 margin-zero">Table updated at the race: Never (Error)</h2>
      </div>
    </section>
  </section>
</div>
