<!-- driver standings -->
<section class="all-page">
  <!-- Header -->
  <div class="header-zone text-white">
    <div class="header-overlay v-center">
      <div class="container px-4">
        <div class="col-xs-12">
          <h1 class="fw-bolder">Standings 2022</h1>
          <p class="lead subtitle-ts">
            Table of the positions of the selected drivers of the league
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Header - Race update line -->
  <section id="race-update-line-1">
    <div class="container-fluid text-center mg-bottom-20 padding-zero">
      <h2 class="race-update-1 margin-zero">
        Table updated at the race: Never (Error)
      </h2>
    </div>
  </section>
</section>
