.header-img {
  width: 100%;
  height: 500px;
  background-image: url('http://drive.google.com/uc?export=view&id=143BU8HaT5G3OImCO5U5ANuJBml_uXj7h');
  background-repeat: no-repeat;
  background-position: 50% 65%;
  background-size: cover;
}
.header-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.v-center {
  display: flex;
  align-items: center;
}
.v-center-v2 {
  display: grid;
  align-items: center;
}
.h-center {
  margin-left: auto;
  margin-right: auto;
}
.subtitle-ts {
  font-weight: 400;
}
.top-space {
  padding-top: 50px;
}
.bottom-space {
  padding-bottom: 50px;
}
.body-bg {
  width: auto;
  height: fit-content;
  background-color: #272727;
}
.box-drivers-v1 {
  /* margin-right: 15px; */
}
.box-drivers-v2 {
  /* margin-left: 15px; */
  /* margin-right: 15px; */
  margin: auto;
}
.box-drivers-v3 {
  /* margin-left: 15px; */
}
.box-drivers {
  border-radius: 25px;
  width: 380px;
  height: 220px;
  background-color: aquamarine;
}
