<!-- team standings page -->

<!-- header -->
<section>
  <div class="header-img text-white">
    <div class="header-overlay v-center">
      <div class="container px-4 text-center">
        <h1 class="fw-bolder">2022 Driver Standings</h1>
        <p class="lead subtitle-ts">
          Table showing the positions of the participating drivers in the
          championship, ranked by points (Updated: Austria)
        </p>
      </div>
    </div>
  </div>
</section>
<!-- header end -->

<!-- body -->
<section class="container-fluid top-space bottom-space body-bg">
  <div class="container v-center h-center">
    <div class="box-drivers box-drivers-v1">
      <div class="alpine-bg">
        <img
          src="https://drive.google.com/uc?id=1uXOBWC2DQ3ilAGRYXeSZyLciYgvjZhMx"
          alt="MV"
          class="img-adjust-v2 height-adjust-v3"
        />
      </div>
    </div>
    <div class="box-drivers box-drivers-v2"></div>
    <div class="box-drivers box-drivers-v3"></div>
  </div>
</section>
